/* variaveis Globais (cores e fontes reutilizadas no CSS)*/

:root {
    --color-primary: #004181; /* cor principal */
    --color-primary-dark: #003366; /* versão escura */
    --color-text: #000000; /* cor do texto principal */
    --color-text-light: #666666; /* cor do texto secundário */
    --color-border: #aca7a7; /* cor da borda */
    --color-bg: #f0f0f0; /* cor de fundo */
    --font-main: 'inter', sans-serif; /* fonte principal */
}
* {
    margin: 0; /* espacamento externo */
    padding: 0; /* espacamento interno */
    box-sizing: border-box; /* inclui padding e border no tamanho do elemento */
}

body {
    font-family: var(--font-main);
}

.header {
    width: 100%;
    background-color: var(--color-primary);
    border-bottom: 1px solid var(--color-border);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

}

.logo img{
    height: 40px;
    object-fit: contain;
}

.logo-text{
    display: flex;
    flex-direction: column;

}

.logo-title{
    font-size: 16px;
    font-weight: 700;
    color: var(--color-text);
}

.logo-subtitle{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-text-light);
}